/* Imports (optional alternative to HTML imports) */
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css');
@import url('https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css'); */

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
}

/* COVER */
#cover {
  width: 100%;
  height: 100vh;
  background: url('../img/background.jpg') no-repeat center center;
  background-size: cover;
}

#intro {
  position: relative;
  top: 32%;
  left: 50%;
  transform: translateX(-50%) translateY(-32%);
  width: min(700px, 85%);
  color: #fff;
  padding: 2rem;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.35);
  text-shadow: 0 0 3px rgba(0, 0, 0, .95);
}

#intro .footnote {
  text-align: right;
  margin-top: 1rem;
}

#intro .footnote a {
  margin-left: 0.5rem;
  vertical-align: top;
}

#intro .footnote span {
  position: relative;
  bottom: -0.4rem;
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, .95);
  font-style: italic;
  font-size: small;
}

/* GEONARRATIVE + STORYBOARD */
#geonarrative {
  position: relative;
}

#storyboard {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
}

#map {
  width: 100%;
  height: 100vh;
}

/* SCENES */
.scene {
  position: relative;
  max-width: 40rem;
  margin: 0 auto 0 4rem;
  padding: 1rem 0;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  backdrop-filter: blur(2px);
}

.scene:first-child {
  margin-top: -30%;
}

.scene:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.scene h2 {
  padding: 0 1rem;
  margin-top: 0.5rem;
}

.scene p {
  padding-left: 1rem;
  padding-right: 1rem;
  color: #111;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.9);
}

.scene img {
  display: block;
  margin: 0.75rem auto 1rem auto;
  width: 92%;
  border-radius: 10px;
  border: 4px solid rgba(255, 255, 255, 0.85);
}

/* FOOTER */
#footer {
  width: 100%;
  height: 30vh;
  background-color: rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
}
